/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* ripper button */
.ripper {
  color: #1d9af2;
  background-color: #ffffff;
  border: 1px solid #1d9af2;
  border-radius: 4px;
  /* padding: 15px 18px 30px 15px; */
  cursor: pointer;
  height: 32px;
  font-size: 14px;

  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}
.ripper:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  color: white;
}

.ripper:active {
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
}

